.img {
    width: 160px;
    height: 160px;
    background-color: #dddddd;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 3px #444343;
    margin: 1rem;
}

img {
    width: 150px;
    transform: translateY(2.5%);
    height: 150px;
}

.img:hover {
    cursor: pointer;
    transform: scale(1.2);
}